head {
    background-color: azure;
}

h1 {
  background-color: rgba(8, 35, 82);
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
    background-image:url( <img src="paleta.jpg">); 
}

body {
background-image: linear-gradient(pink, blue);}

 .container {
     width: 1080px;
     background-color: green;
  }

aside { 
   width: 220px;
  /*  width:20%; */
    height: 450px;
    background:#1D4C92;
    font-size: 20px;
    text-align:center;
    padding:0;
   
}
.side_menu {
    
    width:200px; /*
    width:5%;*/
    height:55px;
padding-bottom: 0;
    padding-top: 50px;
    color:black;
    text-align: center;

    
}
.left_boxes {
/* width: 300px; */
    width:800px;
  height: 150px;
    position:relative;
    left:255px;
    bottom:520px;
    
  background: red;

}

.right_box {
  width: 40%;
  height: 200px;
  padding: 30px;
  background-color: lightsalmon;
  margin: 30px; 
    left:275px;
    bottom: 400px;
    

}
