head {
    background-color: azure;
}


 
h1 { text-shadow:2px 3px 0 red
; 
text-align:center;}

body {
background-image: linear-gradient(pink, blue);}

 .container {
     width: 1080px;
     height:1920px;
     background-color: green;
  }

aside  {
    float:left;
     width: 230px;
    height: 650px;
    background-color: #d7d7d7;
    padding: 5px;
   }
.pix1 {
    float:left;

}    
.pix2{
    float:right;
}
 .upper {
    float: left;
    width: 780px;
    background-color: #499afa;
    height: 250px;
    padding:5px;
 }
 .lower {
    float: left;
    width: 780px;
    background-color: #fab949;
    height: 400px;
padding:5px;
}


}
